@font-face{
  font-family: Wremena;
  font-weight: normal;
  src: url(media/fonts/WremenaRegular.woff);
}

:root{
    --bgColor: #B9BEBD;
    --accent1: #264541;
    --accent2: #0C090D;
    --mainFont: "Wremena", serif;
}

body{
    margin: 10px;
    padding: 0;
    font-family: var(--mainFont);
    position: relative;
}

h1{
  margin: 0;
  padding: 0;
}

.meta-data{
  font-size: 8pt;
}

p{
  font-size: 8pt;
}

#loading{
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: none;
  background-color: var(--bgColor);
  opacity: 1;
  transition: opacity 1s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading h3{
  background-color: var(--bgColor);
  padding: 10px;
}

.loadingText{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 10px;
}

.loadingText h3{
  background-color: var(--bgColor);
  padding: 20px;
}

.bg-photo{
  filter: invert(80%);
  z-index: -100;
  position: fixed;
}

#bgPhoto{
  height: 100vh;
  width: 100vw;
  z-index: -100;
}

img {
    width: 3in;
    filter: invert(80%);
}

.spread, .break{
    width: 100%;
    height: 100%;
}

#backPage{
  width: 100%;
  height: 100%;
  padding: 10px;
}

.📖-flow-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
}

.📖-right .spread, .📖-left .spread{
    margin: 0;
}

/* updating the bindery interface */

📖-root{
  opacity: 1;
  transition: opacity 2s linear;
} 

@media only screen {

    .📖-zoom-scaler, .📖-zoom-content, .📖-root{
        background: var(--bgColor) !important;
       }
  
    .📖-page {
      background: var(--accent1) !important;
    }
  
    .📖-controls,
    .📖-view-print.📖-controls {
      background: var(--bgColor) !important;
      font-family: var(--mainFont) !important;
    }
  
    .📖-controls .📖-select, .📖-control {
      background: var(--accent1) !important;
      color: var(--bgColor) !important;
      font-family: var(--mainFont) !important;
      text-align: center;
      padding: 10px;
      border: none !important;
      border-bottom: 2px solid var(--accent1);
      outline: none !important;
      font-size: 20px;
      border-radius: 0px !important;
      
    }
  
    .📖-controls button {
      background: var(--accent1) !important;
      color: var(--bgColor) !important;
      font-family: var(--mainFont) !important;
      text-align: center;
      border: none;
      border-bottom: 2px solid var(--accent1);
      outline: none !important;
      font-size: 20px;
      border-radius: 0px !important;
    }

    .📖-controls button:hover{
      background-color: var(--bgColor);
      color: var(--accent2);
  }
  
    .📖-page {
      background: pink;
    }
  
  }