@font-face{
    font-family: GT America;
    src: url(media/fonts/GT-America-Mono-Regular.woff);
}

@font-face{
    font-family: Ogg;
    src: url(media/fonts/Ogg-Regular.woff)
}

@font-face{
    font-family: Wremena;
    font-weight: normal;
    src: url(media/fonts/WremenaRegular.woff);
  }
  

:root{
    --bgColor: #B9BEBD;
    --accent1: #264541;
    --accent2: #0C090D;
    --font2: 'Wremena', serif;
}

body, html{
    font-size: 20px;
    overflow-y: hidden;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--bgColor);
    font-family: var(--font2);
    color: var(--accent2);
}
header, .main{
    margin-left: 20px;
}
.mobile{
    display: block;
    position: relative;
    height: 100vh;
    overflow-y: hidden;
}

.mobileText{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 10px;
}

.mobileText h3{
    background-color: var(--bgColor);
    padding: 20px;
}

header{
    position: fixed;
    width: calc(100vw - 30px);
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.bg-photo{
    filter: invert(80%);
    z-index: -100;
    position: fixed;
}

#bgPhoto{
    height: 100vh;
    width: 100vw;
    z-index: -100;
}

.main{
    display: none;
    width: 80vw;
    height: calc(100vh - 20px);
    justify-content:flex-start;
    align-items:flex-end;
}

h1, h2, h3, h4, h5, h6, p, ul, li{
	font-size: 1rem;
    font-weight: normal;
    display: inline-block;
}

#question{
    font-size: 4rem;
    margin: 0;
}


.input{
    margin: 4rem 0 .5rem 0;
}

.input-content{
    width: 100%;
	text-align: center;
    padding: .5rem;
    border: none;
    border-bottom: 2px solid var(--accent1);
    background-color: var(--bgColor);
    outline: none;
    font-size: 10rem;
    font-family: var(--font2);
    color: rgb(216, 135, 30);
}

a{
    color: var(--accent2);
    text-decoration: none;
}

#dateHere{
    text-align: center;
}

button{
    border: 2px solid var(--accent1);
    background-color: var(--accent1);
    color: var(--bgColor);
    font-family: var(--font2);
    font-size: 1rem;
    outline: none;
}

button:hover{
    background-color: var(--bgColor);
    color: var(--accent2);
}

#about-button, .meta-data{
    flex-basis: 33%;
}

#accordian{
    float: right;
}

#panel{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    width: 250%;
    margin-bottom: 20px;
    background-color: var(--bgColor);
    float: right;
  }

.open{
    padding: 10px;
    border: 2px solid var(--accent1);
}

.cursor {
    position: relative;
}
.cursor i {
    position: absolute;
    width: 1px;
    height: 80%;
    background-color: rgb(216, 135, 30);
    left: 51.5%;
    top: 10%;
    animation: blink 1s infinite;
    opacity: 1;
}

.cursor input:focus + i {
    display: none;
}

@keyframes blink {
    from { opacity: 1; } 
    to { opacity: 0; }
}

@media only screen and (min-width: 800px){
    .mobile{
        display: none;
    }

    .main{
        display: flex;
    }
}

@media only screen and (max-width: 400px){
    body, html{
        font-size: 18px;
    }
}